<<<<<<< HEAD
// @media(max-width:960px) {



// }
=======
@media (max-width:960px) {
   h1.headerLogo {
      font-size: 1.8rem;
      top:85px;
   }

   ul.headerSection li {
      margin: 10px;
   }
}
>>>>>>> 4278066693ad2bd0c38f4d1477303222e3746c91


// @media(max-width:768px) {

// }

// @media(max-width:375px) {
// }